@media (min-width: 1065px) {
  .big-ipad-down {
    display: none !important;
  }
}
@media (max-width: 1064px) {
  .no-big-ipad {
    display: none !important; 
  }
  .big-ipad-down {
    display: inline-block;
  }
}
@media (max-width: 900px) {
/*burgerbar*/
.navbar-collapse {
  background: $darkest 
}
  .no-mobile {
    display: none !important; 
  }
  .provide-mobile-margin-top {
    margin-top: 85px;
  }
}
@media (max-width: 767px) {

.ipad-wrapper {
  width: inherit !important;
}

#page-head h1 {
	font-size: 3em;
}
.nav > li {
  float: left;
  clear: both;
    &.no-mobile {
      display: none !important; 
    }
}

.navbar-default {
    .navbar-collapse {
        background: #eaeaea;
          ul.nav {
              li {
                  a {
                  color: #333333;
                  }
              }
          }
    }
}


.regulation {
  max-width: 250px;
}
.tight-mob {
  letter-spacing: -.1em;
}

}
