/*906flat2 theme*/
$solight: #00BE9C;
$submid: #65669E;
$mid: #3E4361;
$mid2: #394165;
$darkest: #2B2937;

body {
  padding: 0 !important;
  margin: 0 !important;
}

h1 {
  color: $mid2;
}

a:hover {
  text-decoration: none;
}

.regulation {
  max-width: 520px;
}
#darkest {
  background: $darkest; 
}
#credit {
  text-align: right;
  background: $solight;
  p {  
    color: $submid; 
  }
  a {
    color: white;
  }
}
#instafeed { 
  display: inline-block;
  img {
    max-width: 150px;
  }
 }
p {
	color: $submid;
	font-size: 20px;
}
.nav > li {
  display: inline-block; 
}
.navbar-nav {
  float: none !important;

  li {
    float: none;
  }
}
.navbar .navbar-inner {
  text-align: center;
}
.navbar .navbar-inner .nav {
  float: none;
  display:inline-block;
}
.navbar-inner .container {width:960px;}

.navbar-default { border: none; margin-bottom: 0 }

#contact-form { 
  border: 6px solid rgb(57,124,177) !important;    background-color: #f2f7f9;
  padding: 20px;
  margin: 70px auto;
  border: 6px solid #8fb5c1;
  border-radius: 15px;
  position: relative;
}

.btn {
  font-family: "open sans",x-localespecific,sans-serif;
  background-color: $mid;
  color: #fff;
  display: inline-block;
  border: 0px none;
  border-radius: 0.5em;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.15s ease-in-out 0s;
  font-size: 18px;
  min-width: 240px;
  padding: 20px 30px;
}

.navbar-default .navbar-nav>li>a {
  color: $white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  bottom: 10px;
}
.nav {
  li a {
    color: $white;
    padding: 13px;
  }

    a:hover {
      background-color: $submid; 
      color: #fff;
      text-decoration: none;
      transition: all 0.15s ease-in-out 0s;
    }
  }

  .navbar { 
    background: $darkest; 
    height: 85px;  
    color: white 
  }
  .btn {    
    color: #fff;
    text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25);
    background-color: $mid; 
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  }

  .bg {
  //  top: 25px;
  bottom: 0;
        //  width: 100%;
        margin: -5px;
        padding: 5px;
        -webkit-transition: all .15s ease-out .1s;
        -moz-transition: all .15s ease-out .1s;
        -o-transition: all .15s ease-out .1s;
        transition: all .15s ease-out .1s;
      }


      .hero-unit {
        margin: 50px auto 0 auto;
        width: 300px;
        font-size: 18px;
        font-weight: 200;
        line-height: 30px;
        background-color: #eee;
        border-radius: 6px;
        padding: 60px;

      }

      .browsehappy {
        margin: 0.2em 0;
        background: #ccc;
        color: #000;
        padding: 0.2em 0;
      }





      #page-head {
        color: $mid; 
        background: white;
        padding: 1.9em .7em 2.7em .7em;
        display: block;
        height: 200px;
        position: relative;
        margin-top: 85px;
        h1{ font-size: 60px;
          font-weight: 100;
          font-family: "open sans light",x-localespecific-light,"open sans",x-localespecific,sans-serif;
        }
      }

        .content-info {
          padding: 60px 0;
        }
        .bottom {

          min-height: 330px;
          background: #282828;
        }
        .social {
          top: 11px;
          margin: 0;
          list-style: none;
          li { 
            display: inline-block; 
          }
        }

.modal-body {
  h3 {
    a {
      color: $solight;
    }
  }
  ul {
    text-align: left;
  }
}
#social {
  
          a {
            color: $mid2;
          }
}


        #full-width-slider {
          width: 100%;
          z-index: 5;
          overflow: hidden;
          height: 800px;
          height: 125vh;
        }

        .lead-link {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -85px;
          padding: 5px 0;
          width: 170px;
          background: transparent;
          -webkit-border-radius: 4px 4px 0 0;
          -moz-border-radius: 4px 4px 0 0;
          border-radius: 4px 4px 0 0;
          text-align: center;
          color: transparent;
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 700;
          letter-spacing: 1px;
          z-index: 100;
        }

        .lead-link {
          position: absolute;
          bottom: 0;
          left: 50%;
          margin-left: -85px;
          padding: 5px 0;
          width: 170px;
          background: white;
        }

        h1 {
          letter-spacing: -0.05em;
          margin: 0px auto 10px;
}

#about-section {
  p {
    margin: 20px 0px 33px;
  }
}

body {
  padding: 0;
  margin: 0;
  text-align: center;
  color: $darkest;
  background: #333;
  font-family:"open sans light",x-localespecific-light,"open sans",x-localespecific,sans-serif;

}
#training-section {
  .col-md-3{
    background-color: #f2f2f2;
    border-radius: 5px 5px 5px 5px;
    margin: 1em 1em 18px;
    list-style: none;
    padding: 1.5em ;
    text-align: left;
  }
}


  .row-centered {
    text-align:center;
  }


  #logoWall {
    color: white;
    background: black;
  }


  #feature {
    h1 {
      color: white;
      font-size: 42px;
      line-height: 1.1;
      letter-spacing: -0.05em;
      margin-bottom: 1em;
      font-weight: 100;
    }
    .logo {
      margin: 1em 0 2em 0;
    }
    img {
      height: 229px;
    }
  }

  #corey_content {
    background: url("../images/green_arrow.png") no-repeat scroll 50% 0 white;
    color: #363a36;
    padding: 80px 20px 120px 36px;
    text-align: center;
  }
  .people-back {
    background: url("../images/aud-fix.jpg");
    background-size: cover;

  }
  #corey_appears {
    color: $darkest; 
    text-align: center;
  }

  #contact-section {
    background: url("../images/white_arrow.png") no-repeat scroll 50% 0 $darkest;
    h1 {
      color: $white;
    }
    a {
      color: $solight; 
    }
  }
  #footer {
    background: url("../images/footer_shadow.png") repeat-x scroll 0 -5px transparent;
  }

/*sections*/
section {
  padding: 50px 0;
  background: white;
}

.personable {
  background: none repeat scroll 0% 0% #fff;
  color: #0096dd;
  border-color: #0096dd;
}

#corey_appears {
  .personable {
    width: 100%;
  }
}
.button {
  background-color: #5c1f87;
  border: 0 none;
  border-radius: 40px 40px 40px 40px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  padding: 0 40px;
  position: relative;
  transition: background-color 0.2s linear 0s;
}
.button, a.button {
  border-radius: 30px 30px 30px 30px;
  color: #ffffff !important;
  display: inline-block;
  font-family: "adelle-1","adelle-2",georgia,palatino,palatino linotype,times,times new roman,serif;
  font-size: 24px;
  letter-spacing: 1px;
  line-height: 24px;
  margin-bottom: 3px;
  padding: 14px 40px 13px;
  text-align: center;
  text-shadow: -1px -1px 1px #000000;
}
.button.lock {
  background:#853eb7 !important;
  border:1px solid #401063;
  height: 40px;
  width: 150px !important;
}
.button.lock:hover {
  background: #451667 !important;
}
a:link, a:visited {
  color: white; 
  cursor: pointer;
  text-decoration: none;
}

#contact-form { border: 6px solid rgb(57,124,177) !important; }
.button.powerpack {
  background: -moz-linear-gradient(center top , #2c95af, #1f6d81) repeat scroll 0 0 transparent;
  border: 1px solid #013942;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5), 0 1px 5px rgba(255, 255, 255, 0.4) inset;
}



/* yt carousel customisation */
.ipad-wrapper {
  background: url("../images/ipad.png") no-repeat scroll left top transparent;
  padding: 56px 3px 0px 0px;
  margin: 0px auto;
  height: 650px;
  display: block;
  overflow-x: hidden;
  width: 750px;
}

#yt_videosurround {
  background: black;
  height: 459px !important;
  position: relative;
  margin: 10px auto;
}

#yt_embededvideo{
  position: absolute;
  top: 0px;
  left: 0px;
  margin-left: auto;
  margin-right: auto;
}
