@media (max-width: 767px) {

#page-head h1 {
	font-size: 3em;
}
.nav > li {
  float: left;
  clear: both;
}
.navbar-default {
    .navbar-collapse {
        background: #eaeaea;
        ul.nav {
            li {
                a {
                color: #333333;
                }
            }
        }
    }
}

}
